
.mobile-slider :global {
  .mobile-slider-list {
    height: 241px;
    width: 100%;
    background: red;

    // Needed for the space between slides to be represented as padding.
    // Not using swiper spaceBetween setting as the margins gets buggy when the window is resized
    .featured-benefit-wrapper {
      //width: $slide-width + $space-between;
      //padding: 0 $padding 0 $padding;
      transition: all 200ms ease;

    }

    .carousel-item {
      margin-top: 12px;
      transition: all 500ms ease;
      height: 241px;
    }

    .youtube-ad {
      width: 100%;
      z-index: -1;
      pointer-events: none;
    }

    .swiper-slide-active {
      //transform: scale($center-deal-scale-factor);
      transform-origin: center center;
    }
  }
}
